{% extends "master.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">

        <div class="row" style="border-top:10px solid #4A7766;background: #e3fab4">
            <div class="col-sm-1" style="background:#e3fab4"></div>
            <div class="col-sm-7" style="min-height:325px;">
                <p style="font-size:25px;color:orange"><b><u>History Of The Village:-</u></b></p>
                <p style="font-size:17px;font-family:sans-serif;padding:2px">"The soul of India lives in its villages," declared Mahatma Gandhi[12] at the beginning of the 20th<br>
                    century. According to the 2011 census of India, 69% of Indians (around 833 million people) live in<br>
                    villages.[13] As per the 2011 census of India, there are a total of 649,481 villages in India [14].The size<br>
                    of these villages varies considerably. 236,004 Indian villages have a population of fewer than 500,<br>
                    while 3,976 villages have a population of 10,000+. Most of the villages have their own temple,<br>
                    mosque, or church, depending on the local religious following.</p>
                <p style="font-size:17px;font-family:sans-serif;padding:2px">A village is a clustered human settlement or community, larger than a hamlet but smaller<br>
                    than a town (although the word is often used to describe all human settlements without<br>
                    municipal rights,[1] including smaller towns and hamlets; sometimes even defined as a<br>
                    settlement having a church, unlike a hamlet, but no market),[2][3][4][5] with a<br>
                    population typically ranging from a few hundred to a few thousand.</p>
            </div>
            <div class="col-sm-4" style="background:#e3fab4 ">
                <div id="demo" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#demo" data-slide-to="0" class="active" ></li>
<li data-target="#demo" data-slide-to="1"></li>
</ol>
<div class="carousel-inner" role="listbox">
<div class="item active" data-bs-interval="10000">
<img src="{% static "images/v1.jpg" %}" style="height:240px;width:380px;margin-top:50px">
</div>
<div class="item">
<img src="{% static "images/v2.jpg" %}" style="height:240px;width:380px;margin-top:50px">
</div>
    <div class="item">
<img src="{% static "images/v3.jpg" %}" style="height:240px;width:380px;margin-top:50px">
</div>
</div>
</div>
            </div>
        </div>
    <div class="row" style="border:4px solid white;background: #e3fab4">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <p style="font-size:25px;color:orange"><b><u>Freedom Fighter Of The Village:-</u></b></p>
            <p style="font-size:17px;padding:3px;font-family:sans-serif;">The village has a proud legacy of brave souls who played significant roles in India's struggle for independence.<br>
                The spirit of patriotism was deeply ingrained in the community, as several villagers stepped forward to<br>
                contribute to the nation’s fight against British colonial rule.</p><br>
            <p style="font-size:25px;color:orange"><b><u>Lal Bahadur Shastri :-</u></b></p>
            <p style="font-size:17px;padding:3px;font-family:sans-serif;">Jai Jawan Jai Kisan (English: "Hail the Soldier, Hail the Farmer") was a slogan of Lal Bahadur Shastri,<br> 
           was an influential leader who fought in various movements like the Quit India Movement. His commitment to non-violent protests and his resilience under British rule earned him respect not only in the village but across the region. He was imprisoned several times but remained steadfast in his belief in an independent India. </p><br>
            <p style="font-size:25px;color:orange"><b><u>The Legacy:-</u></b></p>
            <p style="font-size:17px;padding:3px;font-family:sans-serif;">The sacrifices made by the village's freedom fighters are a source of immense pride for its people. Their stories of resistance and courage are passed down through generations, ensuring that the flame of patriotism burns bright in the hearts of the villagers. Memorials and annual ceremonies held in the village are reminders of their contribution, and the community continues to honor their legacy with great respect.</p>
            <p style="font-size:25px;color:orange"><b><u>Important Personalities of the Village:-</u></b></p>
            <p style="font-size:17px;padding:3px;font-family:sans-serif;">The village is not only rich in culture and history but also home to several notable individuals who have made significant contributions to society. These individuals have excelled in various fields such as education, social work, politics, and art, bringing pride and recognition to the village.</p>
            <p style="font-size:25px;color:orange"><b>1.[Savitribai Phule]-The Educationist:-</b></p>
            <p style="font-size:17px;padding:3px;font-family:sans-serif;">Without women, the planet and existence as a society would be incompleteis known for their contributions to social welfare and community development. Working tirelessly to improve sanitation, health, and women's rights,her dedication to promoting education, especially for underprivileged communities, has earned them awards and recognition at both the state and national levels.Their contributions have inspired women of all generations to fight for their rights, educate themselves, and strive for the betterment of women and society.</p>
            <p style="font-size:25px;color:orange"><b>2. [A. P. J. Abdul Kalam] - The Political Leader:-</b></p>
            <p style="font-size:17px;padding:3px;font-family:sans-serif;">A.P.J Abdul Kalam is a self motivated personality, he is popularly known as the People’s President because behind India’s attainment of the nuclear status among the global arena it is his chief brain.His  work in securing better infrastructure, healthcare, and employment opportunities for the villagers has left a lasting impact. Under their leadership, the village has seen significant growth, and their commitment to public service has inspired many young people to get involved in local governance.</p>
            <p style="font-size:25px;color:orange"><b> The Festival: Chhath Puja :-</b></p>
            <p style="font-size:17px;padding:3px;font-family:sans-serif;">Chhath Puja is an ancient Hindu festival dedicated to the Sun God, Surya, and his consort, Usha (the goddess of dawn). Celebrated primarily in the states of Bihar, Jharkhand, Uttar Pradesh, and Nepal, this festival holds deep cultural and spiritual significance. Devotees offer prayers to the setting and rising sun, expressing gratitude for sustaining life on earth<br>
            During Chhath Puja, women, known as ‘Vratis,’ observe a strict fast and perform various rituals to seek blessings for their family’s happiness and success.<br>
            Fasting during Chhath Puja is considered extremely strict, as it includes abstaining from food and water for almost 36 hours.The main objective of Chhath Puja is to show gratitude to the Sun God, who is considered the source of all energy and life on Earth.The rituals of Chhath Puja include fasting, offering prayers to the rising and setting sun, and taking holy dips in rivers or ponds.</p>
        </div>
        <div class="col-sm-4">
                <img src="{% static  "images/v4.jpg"%}" height="250px" width="450px" class="img img-thumbnail">
                <img src="{% static  "images/v5.jpg"%}" height="250px" width="450px"  class="img img-thumbnail">
                <img src="{% static  "images/v1.jpg"%}" height="250px" width="450px" class="img img-thumbnail">
                <img src="{% static  "images/v2.jpg"%}" height="250px" width="450px" class="img img-thumbnail">
                <img src="{% static  "images/v6.jpg"%}" height="250px" width="450px" class="img img-thumbnail">

        </div>
    </div>
    </div>
{% endblock %}
